*::before
*::after {
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: sans-serif;
    background-color: lavenderblush;
}
h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: darkslategray;
}

.generator {
    margin-top: 8px;
    margin-bottom: 10px;
}
label {
    color: crimson;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: 2px solid lightcoral;
    font-size: 20px;
}
.box {
    display: block;
    background-color: lightcoral;
    border: 1px solid #eceff1;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .14) 0 1px 3px 1p;
    margin: 40px auto;
    padding: 20px;
    width: fit-content;
}
.box::after {
    content: "";
    display: block;
    clear: both;
}
.generator::after {
    content: "";
    display: block;
    clear: both;
}
